*{
  padding: 0px;
}
#id1{padding: 10px 20px 50px 120px ;
height: 200px;
width: 100%;
border: 8px dotted rgb(250, 0, 0);
}

.id2{margin: 70px ;
  height: 200px;
  width: 100%;
  border: 7px dashed rgb(250, 0, 0);
  }

  #id3{margin: 70px ;
    height: 200px;
    width: 100%;
    border-top: 10px solid rgb(234, 23, 23);
    border-left: 5px dotted cadetblue;
    border-right: 1px solid olive;
   border-width: 6px;

   border-bottom-style:groove;
   border-color: rgb(255, 0, 0);
  border-radius: 10px;  
  }